body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  height: 100%;
  width: 100%;
}


.no-gradient {
  background: none !important; /* Completely clear any background */
  background-color: #ffffff;   /* Add a plain color if needed */
  height: 100vh;              /* Ensure the full viewport height */
  width: 100%;
}

/* Style for the login container */
 /* .loginpage {
  background: none;
  background-color: #9db/685;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}  */
